import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib notebook

In [4]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib notebook

In [5]:
from google.colab import files
uploaded = files.upload()

Saving train_landscape.csv to train_landscape.csv

In [6]:
dataset = pd.read_csv("train_landscape.csv")

In [7]:
dataset.head()

,image_name,tags,clouds,houses,hills,trees,flowers,bridge,soil,sun,water,rocks
0,t1,"clouds,hills,soil,sun",1,0,1,0,0,0,1,1,0,0
1,t2,"clouds,flowers,soil",1,0,0,0,1,0,1,0,0,0
2,t3,"clouds,trees,hills,houses,soil",1,1,1,1,0,0,1,0,0,0
3,t4,"clouds,water,sun,soil,rocks",1,0,0,0,0,0,1,1,1,1
4,t5,"clouds,water,sun,rocks",1,0,0,0,0,0,0,1,1,1

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   image_name  25 non-null     object
 1   tags        25 non-null     object
 2   clouds      25 non-null     int64
 3   houses      25 non-null     int64
 4   hills       25 non-null     int64
 5   trees       25 non-null     int64
 6   flowers     25 non-null     int64
 7   bridge      25 non-null     int64
 8   soil        25 non-null     int64
 9   sun         25 non-null     int64
 10  water       25 non-null     int64
 11  rocks       25 non-null     int64
dtypes: int64(10), object(2)
memory usage: 2.5+ KB

In [9]:
X=dataset.iloc[:,2:12]

In [10]:
X=X.values

In [11]:
X

array([[1, 0, 1, 0, 0, 0, 1, 1, 0, 0],
       [1, 0, 0, 0, 1, 0, 1, 0, 0, 0],
       [1, 1, 1, 1, 0, 0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 1, 1, 1, 1],
       [1, 0, 0, 0, 0, 0, 0, 1, 1, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 1],
       [1, 0, 1, 0, 0, 0, 1, 1, 1, 1],
       [0, 1, 0, 0, 0, 0, 0, 0, 1, 0],
       [1, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 0, 0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 1, 1, 1, 1],
       [0, 0, 0, 0, 0, 0, 1, 1, 1, 1],
       [0, 0, 1, 1, 1, 0, 0, 0, 1, 0],
       [1, 0, 1, 1, 0, 0, 0, 0, 1, 0],
       [1, 0, 1, 1, 0, 0, 0, 0, 1, 0],
       [1, 0, 1, 0, 0, 0, 1, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 1, 1, 1, 0],
       [1, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 1, 0, 0, 0, 1, 1],
       [1, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 1, 0, 1, 1],
       [1, 1, 1, 1, 0, 0, 1, 0, 0, 0],
       [1, 0, 1, 1, 0, 0, 1, 0, 0, 0],
       [1, 1, 0, 0, 0, 0, 1, 0, 1, 1],
       [0, 0, 1, 1, 0, 1, 1, 0, 1, 0]])

In [12]:
Y=dataset.iloc[:,-1].values

In [13]:
Y

array([0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0])

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=.25,random_state=42)

In [16]:
from sklearn.neighbors import KNeighborsClassifier

In [17]:
KNN=KNeighborsClassifier(n_neighbors=5,
    weights='uniform',
    algorithm='kd_tree',
    leaf_size=30,
    p=2,
    metric='minkowski',
    metric_params=None,
    n_jobs=-1)

In [18]:
KNN.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='kd_tree', n_jobs=-1)

In [19]:
Y_pred=KNN.predict(X_test)

In [20]:
from sklearn.metrics import classification_report,confusion_matrix

In [21]:
print('classification',classification_report(Y_test.reshape(-1,1),Y_pred))

classification               precision    recall  f1-score   support

           0       1.00      0.80      0.89         5
           1       0.67      1.00      0.80         2

    accuracy                           0.86         7
   macro avg       0.83      0.90      0.84         7
weighted avg       0.90      0.86      0.86         7

In [34]:
from sklearn.model_selection import cross_val_score

In [35]:
print('Cross Val Score',cross_val_score(KNN,Y_test.reshape(-1,1),Y_pred,cv=4))

Cross Val Score [0.5 0.5 0.5 1. ]

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=4.
  UserWarning,

In [37]:
print('Cross Val Score',np.mean(cross_val_score(KNN,Y_test.reshape(-1,1),Y_pred,cv=4)))

Cross Val Score 0.625

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=4.
  UserWarning,